{% extends "layout2.html" %}
{% block content %}
<body>
<div class="container">
    <div class="row p-4">
        <div class="col-md-4">
            <div class="card" style="background: #5f788a">
                <div class="card-body">
                    <h5 class="card-title text-center text-light">Basic Java</h5>
                        <div class="row justify-content-around">
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">MCQ</a>
                            </div>
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">Coding</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background: #5f788a">
                <div class="card-body">
                    <h5 class="card-title text-center text-light">Operators</h5>
                        <div class="row justify-content-around">
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">MCQ</a>
                            </div>
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">Coding</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background: #5f788a">
                <div class="card-body">
                    <h5 class="card-title text-center text-light">Conditions</h5>
                        <div class="row justify-content-around">
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">MCQ</a>
                            </div>
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">Coding</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row p-4">
        <div class="col-md-4">
            <div class="card" style="background: #5f788a">
                <div class="card-body">
                    <h5 class="card-title text-center text-light">Looping</h5>
                        <div class="row justify-content-around">
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">MCQ</a>
                            </div>
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">Coding</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background: #5f788a">
                <div class="card-body">
                    <h5 class="card-title text-center text-light">String</h5>
                        <div class="row justify-content-around">
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">MCQ</a>
                            </div>
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">Coding</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background: #5f788a">
                <div class="card-body">
                    <h5 class="card-title text-center text-light">Array</h5>
                        <div class="row justify-content-around">
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">MCQ</a>
                            </div>
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">Coding</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
            <div class="row p-4">
        <div class="col-md-4">
            <div class="card" style="background: #5f788a">
                <div class="card-body">
                    <h5 class="card-title text-center text-light">Constructor</h5>
                        <div class="row justify-content-around">
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">MCQ</a>
                            </div>
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">Coding</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background: #5f788a">
                <div class="card-body">
                    <h5 class="card-title text-center text-light">Inheritance</h5>
                        <div class="row justify-content-around">
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">MCQ</a>
                            </div>
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">Coding</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="background: #5f788a">
                <div class="card-body">
                    <h5 class="card-title text-center text-light">Functions</h5>
                        <div class="row justify-content-around">
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">MCQ</a>
                            </div>
                            <div class="col-md-1.5">
                                <a href="#" class="btn btn-primary">Coding</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock content %}